<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tus Servicios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/style_admin.css">
    
</head>
<body>
    <header>
        <img class="logo" src="/images/logo.png" alt="AurelisLogo">
        <button class="abrir-menu" id="abrir" method="post"><i class="bi bi-list"></i></button>
        <nav class="nav" id="nav">
            <button class="cerrar-menu" id="cerrar" method="post"><i class="bi bi-x-circle"></i></button>
            <ul class="nav-list">

                <li>
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Calendario</a>
                </li>
                <li>
                    <a href="#">Tus Servicios</a>
                </li>
                <li>
                    <a href="#">Estadisticas</a>
                </li>
            </ul>

        </nav>
    </header>

        <script src="/javascripts/admin.js"></script>

</body>
</html>