<!-- Bienvenidos al Catalógo, en esta parte estoy estructurandola poco a poco, se que estilo darle. solo 
pediría opiniones con comentarios en el script o en el grupo por favor -->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style_catalogo.css' />
    
    <title>Catalógo</title>
</head>
<body>
    <header >
        <section class="contenedor">
          <a class="title" href="/">AURELIS</a>
            <div class="flex">
              <a href="/views/catalogo.ejs">Catalógo</a>
              <a href=""/views/citas.ejs"">Agendar citas</a>
            </div>
        </section>
      </header>

      <Main>

        <section>
            <h2 class="flex">Mis presentaciones y servicios♥</h2>
            <div class="flex-Main">
                <img src="/images/1.jpg">
                <img src="/images/acrilico.jpg">
                <img src="/images/manicure.jpg">
            </div>
            <div class="flex-Main2">
                <img src="/images/manicures.jpg">
                <img src="/images/manicure+pedicure.jpg">
                <img class="orders" src="/images/montaje.jpg">
            </div>
        
            <section class="nose">
                <a href="/views/citas.ejs">¡♦Reserva tu cita♦!</a>
            </section>

        </section>



      </Main>


</body>
</html>



<!-- Si no llegan a entender algo, escriban por el grupo que respondo de inmediato -->