<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Cita</title><link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>

<body>
    
    <header >
        <section class="contenedor">
          <a class="title" href="/">AURELIS</a>
            <div class="flex">
              <a href="/catalogo">Catalógo</a>
              <a href="/citas">Agendar citas</a>
              <a href="/login" class="a">Iniciar Sesión</a>
            </div>
        </section>
      </header>
  
  
  
  
      <Main>
        <section class="contenido">

            <div class="container">
                <h1 class="mt-5">Agendar Cita</h1>
                <form id="citaForm" class="mb-5">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido:</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" required>
                    </div>
                    <div class="form-group">
                        <label for="numb">Número Telefónico:</label>
                        <input type="text" class="form-control" id="numb" name="numb" pattern="\d{12}" title="Debe ser un número de 12 dígitos" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha:</label>
                        <input type="date" class="form-control" id="fecha" name="fecha" required>
                    </div>
                    <div class="form-group">
                        <label for="hora">Hora:</label>
                        <input type="time" class="form-control" id="hora" name="hora" required>
                    </div>
                    <h2>Seleccionar Servicios</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Seleccionar</th>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody id="serviciosTableBody">
                        </tbody>
                    </table>
        
                    <h2>Información de Pago</h2>
                    <div class="form-group">
                        <label for="metodo">Método de Pago:</label>
                        <input type="text" class="form-control" id="metodo" name="metodo" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Nombre del titular:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="monto">Monto:</label>
                        <input type="number" class="form-control" id="monto" name="monto" required>
                    </div>
                    <div class="form-group">
                        <label for="ref">Referencia:</label>
                        <input type="text" class="form-control" id="ref" name="ref" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
  
        </section>

       
  
      </Main>

  
  <!--     por la parte de abajo de la pagina web me quede sin ideas, me gustaria que me den ideas o ustedes se
      encarguen si gustan (J) -->
  
      <footer class="contenedor2">
  
        <section>
          <div class="redes">
            <img src="images/facebook.svg" height="45">
            <img src="images/instagram.svg" height="45" >
            <img src="images/tik-tok.svg"  height="45">
          </div>  
       </section>
  
      </footer>
 

    <script>
        document.addEventListener('DOMContentLoaded', async function() {
            const serviciosTableBody = document.getElementById('serviciosTableBody');

            try {
                const response = await fetch('http://localhost:4000/api/servicios');
                const servicios = await response.json();

                servicios.forEach(servicio => {
                    const row = document.createElement('tr');

                    const selectCell = document.createElement('td');
                    const checkbox = document.createElement('input');
                    checkbox.type = 'checkbox';
                    checkbox.value = servicio.servicio_id; // Store the service ID in the value
                    checkbox.setAttribute('data-price', servicio.price_uni); // Store the service price in a data attribute
                    selectCell.appendChild(checkbox);
                    row.appendChild(selectCell);

                    const idCell = document.createElement('td');
                    idCell.textContent = servicio.servicio_id;
                    row.appendChild(idCell);

                    const nameCell = document.createElement('td');
                    nameCell.textContent = servicio.name;
                    row.appendChild(nameCell);

                    const priceCell = document.createElement('td');
                    priceCell.textContent = servicio.price_uni;
                    row.appendChild(priceCell);

                    serviciosTableBody.appendChild(row);
                });
            } catch (error) {
                console.error('Error al obtener los servicios:', error);
            }
        });

        document.getElementById('citaForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const nombre = document.getElementById('nombre').value;
            const apellido = document.getElementById('apellido').value;
            const numb = document.getElementById('numb').value;
            const fecha = document.getElementById('fecha').value;
            const hora = document.getElementById('hora').value;
            const metodo = document.getElementById('metodo').value;
            const name = document.getElementById('name').value;
            const monto = parseFloat(document.getElementById('monto').value);
            const ref = document.getElementById('ref').value;

            const selectedServicios = Array.from(document.querySelectorAll('#serviciosTableBody input[type="checkbox"]:checked'))
                .map(checkbox => ({
                    id: checkbox.value,
                    price: parseFloat(checkbox.getAttribute('data-price'))
                }));

            if (selectedServicios.length === 0) {
                alert('Por favor, seleccione al menos un servicio.');
                return;
            }

            const servicios = selectedServicios.map(servicio => servicio.id);
            const price = selectedServicios.reduce((acc, servicio) => acc + servicio.price, 0);
            const dateNow = new Date().toISOString();

        

            const data = {
                nombre,
                apellido,
                numb,
                fecha,
                hora,
                servicios,
                price,
                metodo,
                name,
                monto,
                ref,
                fechapago: dateNow
            };

            try {
                const response = await fetch('http://localhost:4000/api/cita', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
                console.log(response);
                const result = await response.json();
                
                alert(result.message);
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
</body>
</html>
