<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprobante de Reserva</title>
</head>
<style>
    body{
       color: #000 !important;
       background-color: rgb(235, 255, 255);
}       
    .container {
        background-color: #cdb4db !important;
        margin: auto;
        width: 70%;
        height: 60%;
        padding: 15px;

    }

    .text-center {
        text-align: center;
    }
    
    .contenido-junto {
        
        display: flex;
        justify-content: space-between;
    }
</style>
<body>
    <div id="comprobante" class="container">
        <h2 class="text-center">Comprobante de Reserva</h2>
        <div>
            <div class="contenido-junto">
                <p><b>Nombre y Apellido</b></p>
                <p>valor</p>
                <p><b>Fecha</b></p>
                <p>valor</p>
            </div>
            <div class="contenido-junto">
                <p><b>Servicios</b></p>
                <div>
                    <p>"que lleguen aqui"</p>
                    <p>"que lleguen aqui"</p>
                    <p>"que lleguen aqui"</p>
                </div>
                <p><b>Hora</b></p>
                <p>valor</p>
            </div>
            <p><b>Total</b></p>
            <p>Valor</p>
            <h6 class="text-center">Tome captura de este Comprobante antes de salir de la página</h6>
        </div>
    </div>
</body>
</html>