<!DOCTYPE html>
<html>
  <head>
    <title>hola></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header >
      <section class="contenedor">
        <a class="title" href="">AURELIS</a>
          <div class="flex">
            <a href="">Catalógo</a>
            <a href="">Agendar citas</a>
          </div>
      </section>
    </header>

    <Main>
      <section class="contenido">
        <div class="flex-Main">
          <p class="center">Bienvenidos a Aurelis, tu página web
            donde <br> podras agender tus citas manicure con
            la <br> mejor calidad de servicio y profesional que te <br>
            ofrece Aurelis ♥</p>
        </div>
    <img class="aurelis" src="images/descarga.jpeg">
      </section>

      <div class="flex">
        <a class="ir_catalogo" href="">Echa un vistazo a nuestro Catalógo</a>
      </div>

    </Main>
      
    <Main>
      
    </Main>

    <footer>
      <section class="contenedor2">
        <div class="flex" >
          <p>Op1</p>
        </div>
        <div>
          <p class="flex">Op2</p>
        </div>
        <div>
          <p class="flex">Op3</p>
        </div>
      </section>
    </footer>
    
  </body>
</html>
