<!-- Bienvenid@ Genesis, Mortis o Yefferson. Este es un mensaje de bienvenida del Jiro del 
Jiro del pasado, les explicare cada codigo que he hecho para que entren en
contexto de lo que he hecho (y algo que deben de hacer tambien y dejar la letra inicial
de sus nombres para reconocer quien hizo los cambios cada vez que avisemos por el grupo) -->


<!DOCTYPE html>
<html>
  <head>
    <title>hola></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
  </head>
  <body>



    <header >
      <section class="contenedor">
        <a class="title" href="/">AURELIS</a>
          <div class="flex">
            <a href="/views/catalogo.ejs">Catalógo</a>
            <a href="/views/citas.ejs">Agendar citas</a>
          </div>
      </section>
    </header>




    <Main>
      <section class="contenido">

        <div class="flex-Main">
          <p class="center">Bienvenidos a Aurelis, tu página web
            donde <br> podras agender tus citas manicure con
            la <br> mejor calidad de servicio y profesional que te <br>
            ofrece Aurelis ♥
          </p>
        </div>

    <img class="aurelis" src="images/descarga.jpeg">

      </section>

     <!--  aqui necesito (si pueden, puede que yo lo haga antes) hacer una especie de boton en esta etiqueta <a>, display flex puede ser
      algo complicado en los primeros intentos (J) -->
      <div class="flex">
        <a class="ir_catalogo" href="">Echa un vistazo a nuestro Catalógo</a>
      </div>

    </Main>



<!--     por la parte de abajo de la pagina web me quede sin ideas, me gustaria que me den ideas o ustedes se
    encarguen si gustan (J) -->

    <footer>
      <section class="contenedor2">
        <div class="flex" >
          <p>Op1</p>
        </div>
        <div>
          <p class="flex">Op2</p>
        </div>
        <div>
          <p class="flex">Op3</p>
        </div>
      </section>
    </footer>
    
  </body>
</html>
