<!-- Bienvenid@ Genesis, Mortis o Yefferson. Este es un mensaje de bienvenida del Jiro del 
Jiro del pasado, les explicare cada codigo que he hecho para que entren en
contexto de lo que he hecho (y algo que deben de hacer tambien y dejar la letra inicial
de sus nombres para reconocer quien hizo los cambios cada vez que avisemos por el grupo) -->


<!DOCTYPE html>
<html>
  <head>
    <title>AURELIS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
  </head>
  <body>



    <header >
      <section class="contenedor">
        <a class="title" href="/">AURELIS</a>
          <div class="flex">
            <a href="/catalogo">Catalógo</a>
            <a href="/citas">Agendar citas</a>
          </div>
      </section>
    </header>




    <Main>
      <section class="contenido">

        <div class="flex-Main">
          <p class="center">Hola..!! Soy Aurelis cuento con más de 10 años de experiencia en este arte,
            amplia capacidad de elaboración de diseños y creatividad con diferentes técnicas en tendencia,
            además le brindo los mejores precios del mercado y resultados de calidad.!!
          </p>
        </div>

    <img class="aurelis" src="images/aurelis.png">

      </section>

     <!--  aqui necesito (si pueden, puede que yo lo haga antes) hacer una especie de boton en esta etiqueta <a>, display flex puede ser
      algo complicado en los primeros intentos (J) -->
      

    </Main>

    <div class="flex-bottom">
      <a class="ir_catalogo" href="/catalogo">Visita mi catalógo</a>
    </div>

<!--     por la parte de abajo de la pagina web me quede sin ideas, me gustaria que me den ideas o ustedes se
    encarguen si gustan (J) -->

    <footer class="contenedor2">

      <section>
        <div class="redes">
          <img src="images/facebook.svg" height="45">
          <img src="images/instagram.svg" height="45" >
          <img src="images/tik-tok.svg"  height="45">
        </div>  
     </section>

    </footer>
    

    
  </body>
</html>


<!--           <img src="images/facebook.svg">
          <img  src="images/instagram.svg">
          <img  src="images/tik-tok.svg"> -->