<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style_login.css">
</head>
<body>
    <div class="formulario">
        <h1>Bienvenida Aurelis</h1>
        <form method="post">
            <div>
                <input placeholder="Usuario" type="text" required name="usuario">
            </div>
            <div>
                <input placeholder="Contraseña" type="password" required name="clave">
            </div>
            
            <button>Iniciar</button>

        </form>

    </div>
</body>
</html>