.color-header {
    background-color: #cdb4db;
    
}

/* Estilos específicos */
body {
    width: 100%;
  
    color: #000; /* Color de texto por defecto */
}

a {
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    font-size: x-large;
    color: white !important;
  }

main {
    margin-top: 10px;
}

h2 {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-optical-sizing: auto;
    font-style: italic;
    background-color: #ffc8dd;
    width: 40%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

img {
    width: 15%;
    border-radius: 30px;
}

.flex {
    display: flex;
}

.contenedor {
    background-color: #cdb4db;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}  

.title {
    font-size: 28px;
    margin-left: 55px;
    letter-spacing: 2.5px;
}

.flex-Main, .flex-Main2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-Main2 {
    margin-top: 50px;
}

.nose {
    margin-top: 85px;
    text-align: center;
    border: 10px #bde0fe solid;
    width: 30%;
    margin: 0 auto;
    border-radius: 50px;
    background: #bde0fe;
}

.orders {
    height: 262px;
}

/* Colores de referencia
#cdb4db purle
#ffc8dd pink
#bde0fe blue */
