/* Bienvenidos al CSS de la pagina de inicio del proyecto. Aqui explicare como he hecho yo las variables */

/* Por aqui solo hice arreglos generales en el html y body y para las direcciones de rutas
tambien para el Main y footer */

*{
box-sizing: border-box;
width: 100%;
padding: 5px;
margin: 0;
padding: 0;
}

a{
  text-decoration: none;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: x-large;
  color: black;
}

Main{
  width: 100%;
}

footer{
  width: 100%;
  background-color: #cdb4db;
}

/*a partir de .flex hasta flex-Main es que se ordena el 70% del contenido de la pagina  */

.flex{
  display: flex;
}

.flex-Main{
  display: flex;
    flex-direction: row;
    margin-right: 70px;
    align-items: center;
}

.tittle{
  font-size: 20px;
}

.contenedor{
  background-color: #cdb4db;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}



.contenido{
  display: flex;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
  margin-top: 70px;
  text-align: center;
  flex-direction: row;
}
.center{
  margin-top: 60px;
  font-size: 30px;
  text-align: -webkit-center;
}

.aurelis{
  width: 30%;
  border-radius: 50%;
}



.ir_catalogo{
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  text-decoration: none;
}

.contenedor2{
  background-color: #cdb4db;
  display: flex;
  justify-content: space-around;
  padding: 25px;
  margin-top: 222px;
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
}




/*  Deje los colores que usamos por si las moscas y para ahorrar tiempo solo dando Ctr + C

#cdb4db purle
#ffc8dd pink
#bde0fe blue */